html {
    font-size: 10px;
}


/* Form Elements */
.selector {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.dropdown {
    display: block;
}


/* Results Section */
.results-img {
    width: 250px;
}

.result-item {
    list-style: none;
}

.hidden {
    display: none;
  }



