* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; 

  }


  body {
   background-image: url('background.jpg');
    color: #fff;
  }

html {
    font-size: 10px;
    color: black;
    font-family: 'Roboto Condensed', sans-serif;
}

header {
    text-align: center;
    position: fixed;
    color: white;
    height: 10rem;
    width: 100%;
    top: 0;
    padding-top: 2rem;
    background-color: black;
    vertical-align: middle;
    padding-bottom: 5rem;
    
}

#logo h1 {
  font-size: 5rem;
  font-family: 'Bebas Neue';

}
/* Form Elements */


#form {
    width: 90%;
    height: 50%;
    background-color: white;
    padding: 4rem;
    border-radius: 3px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12rem;
    margin-bottom: 3rem;
    
  }




#form h2, #results h2 {
    width: 100%;
    line-height: 38px;
    font-size: 35px;
    color: grey;
    text-align: center;
    margin-bottom: 4rem;
    

}

.form-block label {
    display: block;
    margin-top: 1rem;
    color: black;
    font-size: 1.5rem;
    margin-top: 4rem;
}
.form-block input, .form-block select {
    display: block;
    width: 100%;
    height: 5.5rem;
    padding: 1.5rem;
    border: 2px solid #e7e7e7;
    margin-top: 1rem;
  }

  .form-block select {
    cursor: pointer;
  }

  .form-block button {
    display: block;
    width: 100%;
    height: 5.5rem;
    padding: 1.5rem;
    border: 2px solid #fff;
    margin-top: 3rem;
    cursor: pointer;
    background: black;
    font-size: 2rem;
    color: white;
  }
  
  .form-block button:hover,
  .form-block button:active,
  .form-block button:focus
  #results button:hover,
  #results button:active,
  #results button:focus {
    color: white;
    background: rgb(128, 0, 60);
  }




.dropdown {
    display: block;
}


/* Results Section */

#results {
  width: 90%;
  background-color: white;
  padding: 4rem;
  border-radius: 3px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 12rem; 
  color: black;
  text-align: center;
}

#results h3 {
  font-size: 2rem;
  margin-top: 4rem;
  margin-bottom: 1rem;
}
#results p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.results-img {
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 250px;
}

#results button {
  display: block;
  width: 100%;
  height: 5.5rem;
  padding: 1.5rem;
  border: 2px solid #fff;
  margin-top: 1.5rem;
  cursor: pointer;
  background: black;
  font-size: 2rem;
  color: white;
}


.result-item {
    list-style: none;
}

.hidden {
    display: none;
  }

#new-search {
  width: 90%;
  background-color: white;
  padding: 4rem;
  border-radius: 3px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem; 
  margin-bottom: 4rem;
  color: black;
  text-align: center;
  font-size: 1.6rem;
}

#new-search button {
  display: block;
  width: 100%;
  height: 5.5rem;
  padding: 1.5rem;
  border: 2px solid #fff;
  margin-top: 1.5rem;
  cursor: pointer;
  background: black;
  font-size: 2rem;
  color: white;
}

/* Loader Styling */
#loader-container {
    width: 90%;
    height: 50%;
    background-color: white;
    padding: 4rem;
    border-radius: 3px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12rem;
    margin-bottom: 3rem;
    color: black;
    text-align: center;
    font-size: 4rem;
  }

#loader {
  
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  text-align: center;
  margin: auto;
  margin-top: 3rem;

}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Media Queries */

