* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; 

  }


  body {
   background-image: url('background.jpg');
    color: #fff;
  }

html {
    font-size: 10px;
    color: black;
    font-family: 'Roboto Condensed', sans-serif;
}

header {
    text-align: center;
    position: fixed;
    color: white;
    height: 10rem;
    width: 100%;
    top: 0;
    padding-top: 2rem;
    background-color: black;
    vertical-align: middle;
    padding-bottom: 5rem;
    
}

#logo h1 {
  font-size: 5rem;
  font-family: 'Bebas Neue';

}
/* Form Elements */


#form {
    width: 90%;
    height: 50%;
    background-color: white;
    padding: 4rem;
    border-radius: 3px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12rem;
  }




#form h2, #results h2 {
    width: 100%;
    line-height: 38px;
    font-size: 35px;
    color: grey;
    text-align: center;
    margin-bottom: 4rem;

}

.form-block label {
    display: block;
    margin-top: 1rem;
    color: black;
    font-size: 1.5rem;
    margin-top: 4rem;
}
.form-block input, .form-block select {
    display: block;
    width: 100%;
    height: 5.5rem;
    padding: 1.5rem;
    border: 2px solid #e7e7e7;
    margin-top: 1rem;
  }

  .form-block select {
    cursor: pointer;
  }

  .form-block button {
    display: block;
    width: 100%;
    height: 5.5rem;
    padding: 1.5rem;
    border: 2px solid #fff;
    margin-top: 3rem;
    cursor: pointer;
    background: black;
    font-size: 2rem;
    color: white;
  }
  
  .demo-form button:hover,
  .demo-form button:active,
  .demo-form button:focus {
    color: white;
    background: green;
  }




.dropdown {
    display: block;
}


/* Results Section */

#results {
  width: 90%;
  background-color: white;
  padding: 4rem;
  border-radius: 3px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 12rem; 
  color: black;
}

#results h3 {
  font-size: 2rem;
  margin-top: 4rem;
  margin-bottom: 1rem;
}
#results p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.results-img {
  margin-top: 1rem;
  margin-bottom: 2rem;
}
#results button {
  display: block;
  width: 100%;
  height: 5.5rem;
  padding: 1.5rem;
  border: 2px solid #fff;
  margin-top: 1.5rem;
  cursor: pointer;
  background: black;
  font-size: 2rem;
  color: white;
}


.results-img {
    width: 250px;
}

.result-item {
    list-style: none;
}

.hidden {
    display: none;
  }



